.game-container {
  text-align: center;
  background-color: #4CAF50; /* Green background for "Green Light" */
  transition: background-color 0.5s;
}

.red-light {
  background-color: #F44336; /* Red background for "Red Light" */
}

svg {
  display: block;
}

.lottie-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
