<div class="card flex justify-content-center align-items-center bg-red-100 p-5 border-round-lg">
  <div class="text-center">
    <i class="pi pi-times-circle text-red-500" style="font-size: 3rem;"></i>
    <h2 class="text-red-600 mt-3">Game Over!</h2>
    <p class="text-gray-700 mt-2">Purtroppo hai perso tutte le vite. Vuoi riprovare?</p>
    <p-button  label="Ricomincia" icon="pi pi-replay" class="mt-3 p-button-rounded p-button-danger" link="true" (click)="restartGame()"></p-button>
  </div>
</div>
